@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Surplus procedures</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ex at ipsum consectetur euismod.
    </p>
    <p><a href="/surplusrequests/create" class="btn btn-primary btn-lg">Create request &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paper form</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ex at ipsum consectetur
            euismod. Quisque lacinia, dui eget viverra ultricies, dolor enim tincidunt mauris, eu malesuada
            mauris neque et magna. Pellentesque eget felis non magna malesuada semper ac id odio.
        </p>
        <p><a class="btn btn-default" href="http://www.procurement.vt.edu/Surplus/sprf.doc">Download form &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ex at ipsum consectetur
            euismod. Quisque lacinia, dui eget viverra ultricies, dolor enim tincidunt mauris, eu malesuada
            mauris neque et magna. Pellentesque eget felis non magna malesuada semper ac id odio.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ex at ipsum consectetur
            euismod. Quisque lacinia, dui eget viverra ultricies, dolor enim tincidunt mauris, eu malesuada
            mauris neque et magna. Pellentesque eget felis non magna malesuada semper ac id odio.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>